// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div h1 {
  width: 100%;
  border-bottom: 2px solid black;
}

p {
  text-align: right;
}

div2 p{
  text-align: left;
}


