// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-width: 2.5px;
  float: left;
  padding: 40px;
  margin-top: 30px;
}

#new-event {

  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-width: 2.5px;
  padding: 5px;
  margin-top: 30px;
  text-align: center;
}

#event-show-table {
  padding-top: 50px;
}
